* {
    margin: 0;
    padding: 0;
}

:root {
    --texto: #ffffff;
    --texto-footer: #000000;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}



#container {
    background: linear-gradient( -45deg, #090808, #2B2100, #66BB7B, #2B2100, #090808);
    background-size: 400% 400%;
    animation: gradient 18s ease infinite;
    height: 100vh;
    border-radius: 0 0 100px 100px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #fff;
}

header span {
    cursor: pointer;
}

header span::selection {
    list-style-type: none;
}
  
#navbar {
    display: none;
}
  
#navbar.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    color: #fff;
    padding: 20px;
    z-index: 9999;
}
  
#navbar ul {
    list-style-type: none;
    padding: 0;
}
  
#navbar ul li {
    float: left;
    margin-left: 40px;
}
  
#navbar ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.animation {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.animation h1 {
    /* font-family: 'Playfair', serif; */
    font-size: 5em;
    opacity: 0;
    animation: slideIn 2s ease-in-out forwards;
    color: var(--texto);
}
  
@keyframes slideIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.conteudo-1 {
    margin-bottom: 50px;
    margin-top: 10%;
}

.texto-1 {
    line-height: 40px;
    font-family: 'Playfair', serif;
    font-size: 30px;
    padding-left: 50px;
    color: var(--texto);
    padding-right: 50px;
    margin-bottom: 100px;
}

.texto-1 h2 {
    font-size: 50px;
    margin-bottom: 200px;
}






.arrow-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arrow-link {
    animation: seta 6s infinite;
    animation-timing-function: ease-in-out;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #000; */
    opacity: 0.8;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
  }
  
  .arrow-link:hover {
    opacity: 1;
  }
  
  .arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 10px auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  /* .arrow-link:hover .arrow {

  } */

@keyframes seta {
    20% {
        transform: translateY(9px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(9px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(9px);
    }

}

footer {
    color: var(--texto-footer);
    padding: 20px 0;
  }
  
.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-left,
.footer-right {
    flex-basis: 50%;
}
  
.footer-left h3,
.footer-right h3 {
    color: var(--texto-footer);
    font-size: 20px;
    margin-bottom: 10px;
}
  
.footer-left p,
.footer-right ul {
    margin-bottom: 10px;
}
  
.footer-right ul {
    list-style-type: none;
    padding: 0;
}
  
.footer-right ul li a {
    color: var(--texto-footer);
    text-decoration: none;
}
  
.footer-bottom {
    padding: 10px 0;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
    color: var(--texto-footer);
    font-size: 14px;
}


